In [3]:
import numpy as np

In [4]:
np.set_printoptions(suppress = True, linewidth=100, precision = 2)

In [5]:
raw_data_np = np.genfromtxt('loan-data.csv', delimiter =';')
raw_data_np

array([[        nan,         nan,         nan, ...,         nan,         nan,         nan],
       [48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [8]:
raw_data_np = np.genfromtxt('loan-data.csv', delimiter =';', skip_header=1, autostrip= True)
raw_data_np

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [7]:
np.isnan(raw_data_np).sum()

88005

In [71]:
temporary_fill = np.nanmax(raw_data_np) + 1
temporary_mean = np.nanmean (raw_data_np, axis = 0)
#the result mean that at least there is 1 empty values in the data, this can happen because the column might be contain string only
#but we can't ignore because maybe that value contain the important data

C:\Users\juli\AppData\Local\Temp\ipykernel_12056\3235491069.py:2: RuntimeWarning: Mean of empty slice
  temporary_mean = np.nanmean (raw_data_np, axis = 0)

In [72]:
temporary_mean

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
            440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [73]:
temporary_stats = np.array([np.nanmin(raw_data_np, axis = 0), 
                           temporary_mean,
                           np.nanmax(raw_data_np, axis = 0)])

C:\Users\juli\AppData\Local\Temp\ipykernel_12056\1805106224.py:1: RuntimeWarning: All-NaN slice encountered
  temporary_stats = np.array([np.nanmin(raw_data_np, axis = 0),
C:\Users\juli\AppData\Local\Temp\ipykernel_12056\1805106224.py:3: RuntimeWarning: All-NaN slice encountered
  np.nanmax(raw_data_np, axis = 0)])

In [74]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

# Splitting dataset
splitting the columns

In [75]:
columns_strings = np.argwhere(np.isnan(temporary_mean)).squeeze()
columns_strings
#check where the value contain string with the help of temporary_mean,

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [76]:
columns_numbers = np.argwhere(np.isnan(temporary_mean) == False).squeeze()
columns_numbers
#check where the value contain nunbers

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

In [96]:
loan_data_strings = np.genfromtxt('loan-data.csv', delimiter =';',
                                  skip_header=1, 
                                  autostrip= True,
                                 usecols=columns_strings,
                                 dtype = 'str')
loan_data_strings

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

# Re import the data for further analysis

In [212]:
loan_data_numeric = np.genfromtxt('loan-data.csv', delimiter =';',
                                  skip_header=1, 
                                  autostrip= True,
                                 
                                 usecols=columns_numbers,
                                 dtype = np.float32,
                                 filling_values= temporary_fill)
loan_data_numeric

array([[48010224.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693260.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432728.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415992.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154152.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055248.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]],
      dtype=float32)

In [211]:
header_full = np.genfromtxt('loan-data.csv', delimiter =';',
                                  skip_footer=raw_data_np.shape[0], 
                                  autostrip= True,
                                 dtype = 'str')
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [93]:
header_strings, header_numeric = header_full[columns_strings],header_full[columns_numbers]
#this code use to separate the header that contain string values and numeric values

In [94]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [95]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

# Creating Checkpoints
places throughout our code where we store a copy of our dataset, the purpose to use checkpoints are to avoid us from losing track of our code and avoid losing a lot of progress. this is extremely reliable practice when we need to clean or preprocess many parts of dataset.

In [82]:
def checkpoint (file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variable = np.load(file_name + '.npz')
    return (checkpoint_variable)

In [83]:
checkpoint_test = checkpoint("checkpoint-test", header_strings, loan_data_strings)

In [113]:
checkpoint_test['data']

array(['36 ', '36 ', '36 ', ..., '36 ', '36 ', '36 '], dtype='<U69')

In [108]:
np.array_equal(checkpoint_test['data'], loan_data_strings)

False

# Manipulating strings columns

In [109]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [110]:
header_strings[0] = "issue_date"

In [112]:
loan_data_strings

array([['5', 'Current', '36', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['0', 'Current', '36', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['9', 'Current', '36', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['6', 'Current', '36', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['4', 'Current', '36', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['12', 'Current', '36', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [111]:
loan_data_strings[:,0]

array(['5', '0', '9', ..., '6', '4', '12'], dtype='<U69')

In [40]:
np.unique(loan_data_strings[:,0])
#the output contain the missing data and arrange alphabeticly

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [104]:
np.chararray.strip(loan_data_strings[:,0], "-15")
#this code doesn't change the dataset automaticly, we still need to chage the dataset with the code below

chararray(['', '0', '9', ..., '6', '4', '2'], dtype='<U69')

In [99]:
loan_data_strings[:,0] = np.chararray.strip(loan_data_strings[:,0], "-15")

In [100]:
loan_data_strings[:,0]

array(['May', '', 'Sep', ..., 'Jun', 'Apr', 'Dec'], dtype='<U69')

In [101]:
months = np.array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct','Nov', 'Dec'])

In [102]:
for i in range(13) :
    loan_data_strings [:,0] = np.where(loan_data_strings[:,0] == months[i],
                                      i,
                                      loan_data_strings[:,0])

In [103]:
np.unique(loan_data_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

# Loan status

In [175]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'state_address'], dtype='<U19')

In [176]:
loan_data_strings[:,1]

array(['Current', 'Current', 'Current', ..., 'Current', 'Current', 'Current'], dtype='<U69')

In [177]:
np.unique(loan_data_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
       'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [178]:
np.unique(loan_data_strings[:,1]).size

9

In [53]:
#we need to split all possible values into either group based on good or bad customer

In [179]:
status_bad = np.array(['', 'Charged Off', 'Default', 'Late (31-120 days)'])

In [180]:
loan_data_strings[:,1] = np.where(np.isin(loan_data_strings[:,1], status_bad),0,1)

In [181]:
np.unique(loan_data_strings[:,1])

array(['0', '1'], dtype='<U69')

# Terms

In [58]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [114]:
np.unique(loan_data_strings[:,2])

array(['', '36', '60'], dtype='<U69')

In [106]:
loan_data_strings[:,2] = np.chararray.strip(loan_data_strings[:,2], " months")
loan_data_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [115]:
header_strings[2] = 'term_months'

In [116]:
loan_data_strings[:,2] = np.where(loan_data_strings[:,2] == '',
                                 '60',
                                 loan_data_strings[:,2])
loan_data_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [117]:
np.unique(loan_data_strings[:,2])

array(['36', '60'], dtype='<U69')

# Grade and Subgrade

In [118]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status',
       'url', 'addr_state'], dtype='<U19')

In [119]:
loan_data_strings[:,3]

array(['C', 'A', 'B', ..., 'A', 'D', 'A'], dtype='<U69')

In [120]:
np.unique(loan_data_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [121]:
loan_data_strings[:,4]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [122]:
np.unique(loan_data_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

# Filling subgrade

In [125]:
for i in np.unique(loan_data_strings[:,3])[1:]:
    loan_data_strings[:,4] = np.where((loan_data_strings[:,4] == '') & (loan_data_strings[:,3] == i),
                                      i + '5',
                                      loan_data_strings[:,4])
#this is function to check if the sub grade is missing and assign the missing value to the worst grade, 
# the loop doesn't include the missing value, there for it has [1:] un the function loop
# if the sub grade is missing value but it has the grade, then the sub grade is filled by worst grade i the data which is 5

In [126]:
np.unique(loan_data_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

In [127]:
np.unique(loan_data_strings[:,4], return_counts=True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
        'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
        'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267,
        250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5],
       dtype=int64))

In [131]:
#because it has only 9 missing value sub grade, it consodered as less meaningful but instead of droping the values
# the best practice is create anpther value lower than the lowest value in the data, therefore in this lecture we use H1 tp assigning the missing value
loan_data_strings[:,4] = np.where(loan_data_strings[:,4] == '',
                                  'H1',
                                  loan_data_strings[:,4])

In [132]:
np.unique(loan_data_strings[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

# Removng Grade

In [133]:
#we remove the grade because the information in grade is already carried by subgrade
loan_data_strings = np.delete(loan_data_strings, 3, axis = 1)

In [134]:
loan_data_strings[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [135]:
header_strings = np.delete(header_strings, 3)

In [136]:
header_strings[3]

'sub_grade'

# Converting subgrade

In [137]:
np.unique(loan_data_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5',
       'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5',
       'G1', 'G2', 'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [138]:
keys = list(np.unique(loan_data_strings[:,3]))
values = list(range(1, np.unique(loan_data_strings[:,3]).shape[0] + 1))
dict_sub_grade = dict(zip(keys, values))

In [139]:
dict_sub_grade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [140]:
for i in np.unique(loan_data_strings[:,3]) :
    loan_data_strings[:,3] = np.where(loan_data_strings[:,3] == i,
                                     dict_sub_grade[i],
                                     loan_data_strings[:,3])

In [141]:
np.unique(loan_data_strings[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
       '4', '5', '6', '7', '8', '9'], dtype='<U69')

# veriffication status URL

In [142]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [144]:
loan_data_strings[:,4]

array(['Verified', 'Source Verified', 'Verified', ..., 'Source Verified', 'Source Verified', ''],
      dtype='<U69')

In [145]:
np.unique(loan_data_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [146]:
loan_data_strings[:,4] = np.where((loan_data_strings[:,4] == '') | (loan_data_strings[:,4] == 'Not Verified'),0,1)

In [147]:
np.unique(loan_data_strings[:,4])

array(['0', '1'], dtype='<U69')

In [148]:
loan_data_strings[:,5]

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', ...,
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249'], dtype='<U69')

In [149]:
np.chararray.strip(loan_data_strings[:,5],'https://www.lendingclub.com/browse/loanDetail.action?loan_id=' )

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'],
          dtype='<U69')

In [150]:
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [151]:
loan_data_numeric[:,0]

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [153]:
 loan_data_strings[:,5] = np.chararray.strip(loan_data_strings[:,5],'https://www.lendingclub.com/browse/loanDetail.action?loan_id=')

In [154]:
loan_data_strings[:,5]

array(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'], dtype='<U69')

In [157]:
loan_data_strings[:,5].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [158]:
loan_data_numeric[:,0].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [159]:
loan_data_strings = np.delete(loan_data_strings, 5, axis = 1)
header_strings = np.delete(header_strings, 5)

In [160]:
loan_data_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [161]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# State address

In [162]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'addr_state'], dtype='<U19')

In [164]:
header_strings[5] = "state_address"

In [165]:
loan_data_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [166]:
np.unique(loan_data_strings[:,5])

array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
       'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69')

In [167]:
np.unique(loan_data_strings[:,5]).size

50

In [168]:
np.unique(loan_data_strings[:,5], return_counts= True)

(array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
        'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
        'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
        'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69'),
 array([ 500,   26,  119,   74,  220, 1336,  201,  143,   27,   27,  690,  321,   44,  389,  152,
          84,   84,  116,  210,  222,   10,  267,  156,  160,   61,   28,  261,   16,   25,   58,
         341,   57,  130,  777,  312,   83,  108,  320,   40,  107,   24,  143,  758,   74,  242,
          17,  216,  148,   49,   27], dtype=int64))

In [169]:
states_names, states_counts = np.unique(loan_data_strings[:,5], return_counts= True)
states_counts_sorted = np.argsort(-states_counts)
states_names[states_counts_sorted], states_counts[states_counts_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ',
        'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY',
        'KS', 'OK', 'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK',
        'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,
         216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,
          84,   83,   74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,
          25,   24,   17,   16,   10], dtype=int64))

In [170]:
loan_data_strings[:,5] = np.where(loan_data_strings[:,5] == '',
                                 0,
                                 loan_data_strings[:,5])

In [171]:
states_west = np.array(['WA', 'OR','CA','NV','ID','MT', 'WY','UT','CO', 'AZ','NM','HI','AK'])
states_south = np.array(['TX','OK','AR','LA','MS','AL','TN','KY','FL','GA','SC','NC','VA','WV','MD','DE','DC'])
states_midwest = np.array(['ND','SD','NE','KS','MN','IA','MO','WI','IL','IN','MI','OH'])
states_east = np.array(['PA','NY','NJ','CT','MA','VT','NH','ME','RI'])

In [172]:
loan_data_strings[:,5] = np.where(np.isin(loan_data_strings[:,5], states_west), 1, loan_data_strings[:,5])
loan_data_strings[:,5] = np.where(np.isin(loan_data_strings[:,5], states_south), 2, loan_data_strings[:,5])
loan_data_strings[:,5] = np.where(np.isin(loan_data_strings[:,5], states_midwest), 3, loan_data_strings[:,5])
loan_data_strings[:,5] = np.where(np.isin(loan_data_strings[:,5], states_east), 4, loan_data_strings[:,5])

In [173]:
np.unique(loan_data_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

# converting to number

In [182]:
loan_data_strings

array([['5', '1', '36', '13', '1', '1'],
       ['0', '1', '36', '5', '1', '4'],
       ['9', '1', '36', '10', '1', '4'],
       ...,
       ['6', '1', '36', '5', '1', '1'],
       ['4', '1', '36', '17', '1', '3'],
       ['12', '1', '36', '4', '0', '3']], dtype='<U69')

In [183]:
loan_data_strings.astype(dtype = np.int32)

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [184]:
loan_data_strings = loan_data_strings.astype(dtype = np.int32)

In [185]:
loan_data_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

# Checkpoint String

In [190]:
checkpoint("Checkpoint_Strings", header_strings, loan_data_strings)

NpzFile 'Checkpoint_Strings.npz' with keys: header, data

In [191]:
checkpoint_strings = checkpoint("Checkpoint_Strings", header_strings, loan_data_strings)

In [192]:
checkpoint_strings['header']

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'state_address'], dtype='<U19')

In [193]:
checkpoint_strings['data']

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [194]:
np.array_equal(checkpoint_strings['data'], loan_data_strings)

True

# Manipulating numeric Columns

In [195]:
loan_data_numeric

array([[48010226,    35000,    35000,       13,     1184,     9452],
       [57693261,    30000,    30000, 68616520,      938,     4679],
       [59432726,    15000,    15000, 68616520,      494,     1969],
       ...,
       [50415990,    10000,    10000, 68616520, 68616520,     2185],
       [46154151, 68616520,    10000,       16,      354,     3199],
       [66055249,    10000,    10000, 68616520,      309,      301]])

In [196]:
np.isnan (loan_data_numeric).sum()

0

# Substitute "filler" value

In [197]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

# ID

In [198]:
temporary_fill

68616520.0

In [199]:
temporary_mean

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
            440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [200]:
np.isin(loan_data_numeric[:,0], temporary_fill)

array([False, False, False, ..., False, False, False])

In [201]:
np.isin(loan_data_numeric[:,0], temporary_fill).sum()

0

# temporary stats

In [202]:
temporary_stats

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [203]:
temporary_stats[:, columns_numbers]
#it contains min, mean, and max value for each column

array([[  373332.  ,     1000.  ,     1000.  ,        6.  ,       31.42,        0.  ],
       [54015809.19,    15273.46,    15311.04,       16.62,      440.92,     3143.85],
       [68616519.  ,    35000.  ,    35000.  ,       28.99,     1372.97,    41913.62]])

# funded amount

In [204]:
loan_data_numeric[:,2]

array([35000, 30000, 15000, ..., 10000, 10000, 10000])

In [205]:
loan_data_numeric[:,2] = np.where (loan_data_numeric[:,2] == temporary_fill,
                                  temporary_stats [0, columns_numbers[2]],
                                  loan_data_numeric[:,2])
loan_data_numeric[:,2]

array([35000, 30000, 15000, ..., 10000, 10000, 10000])

# loanded amount, interest rate, total payment, installment

In [206]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

In [214]:
for i in [1,3,4,5] :
     loan_data_numeric[:,i] = np.where (loan_data_numeric[:,i] == temporary_fill,
                                  temporary_stats [2, columns_numbers[i]],
                                  loan_data_numeric[:,i])

In [215]:
loan_data_numeric

array([[48010224.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693260.  ,    30000.  ,    30000.  ,       28.99,      938.57,     4679.7 ],
       [59432728.  ,    15000.  ,    15000.  ,       28.99,      494.86,     1969.83],
       ...,
       [50415992.  ,    10000.  ,    10000.  ,       28.99,     1372.97,     2185.64],
       [46154152.  ,    35000.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055248.  ,    10000.  ,    10000.  ,       28.99,      309.97,      301.9 ]],
      dtype=float32)

# Currency Change

# The exchange rate

In [217]:
EUR_USD = np.genfromtxt('EUR-USD.csv', delimiter = ',', autostrip= True, dtype = 'str')
EUR_USD

array([['Open', 'High', 'Low', 'Close', 'Volume'],
       ['1.2098628282546997', '1.2098628282546997', '1.11055588722229', '1.1287955045700073', '0'],
       ['1.1287955045700073', '1.1484194993972778', '1.117680549621582', '1.1205360889434814',
        '0'],
       ['1.119795799255371', '1.1240400075912476', '1.0460032224655151', '1.0830246210098267',
        '0'],
       ['1.0741022825241089', '1.1247594356536865', '1.0521597862243652', '1.1114321947097778',
        '0'],
       ['1.1215037107467651', '1.145304799079895', '1.0821995735168457', '1.0960345268249512',
        '0'],
       ['1.095902442932129', '1.1428401470184326', '1.0888904333114624', '1.122296690940857', '0'],
       ['1.1134989261627197', '1.1219995021820068', '1.081270456314087', '1.0939244031906128',
        '0'],
       ['1.0969001054763794', '1.1705996990203857', '1.0850305557250977', '1.1340054273605347',
        '0'],
       ['1.1225990056991577', '1.1460003852844238', '1.1089695692062378', '1.1255937814712524',
        '0'],
       ['1.1171561479568481', '1.1494200229644775', '1.0910003185272217', '1.100897192955017',
        '0'],
       ['1.1024993658065796', '1.1060001850128174', '1.056400179862976', '1.0583018064498901',
        '0'],
       ['1.0572947263717651', '1.107000470161438', '1.0541995763778687', '1.093398094177246', '0']],
      dtype='<U18')

In [218]:
#since we only interest in 4th columns because thats the closing price of stock for each  months
EUR_USD = np.genfromtxt('EUR-USD.csv', delimiter = ',', autostrip= True, skip_header=1, usecols=3)
EUR_USD

array([1.13, 1.12, 1.08, 1.11, 1.1 , 1.12, 1.09, 1.13, 1.13, 1.1 , 1.06, 1.09])

In [219]:
loan_data_strings[:,0]
#this is represent wich month the loan is issued, 0 mean January and so on

array([ 5,  0,  9, ...,  6,  4, 12])

In [220]:
exchange_rate = loan_data_strings[:,0]

for i in range (1,13) :
    exchange_rate = np.where(exchange_rate == i,
                            EUR_USD[i-1],
                            exchange_rate)

exchange_rate = np.where(exchange_rate == 0,
                        np.mean(EUR_USD),
                        exchange_rate)
#that function above is use if the exchange rate is 0 which mean it has no data which month the loan is due
exchange_rate

array([1.1 , 1.11, 1.13, ..., 1.12, 1.11, 1.09])

In [221]:
exchange_rate.shape

(10000,)

In [222]:
loan_data_numeric.shape

(10000, 6)

In [224]:
exchange_rate = np.reshape(exchange_rate, (10000,1))

In [225]:
np.hstack((loan_data_numeric, exchange_rate))

array([[48010224.  ,    35000.  ,    35000.  , ...,     1184.86,     9452.96,        1.1 ],
       [57693260.  ,    30000.  ,    30000.  , ...,      938.57,     4679.7 ,        1.11],
       [59432728.  ,    15000.  ,    15000.  , ...,      494.86,     1969.83,        1.13],
       ...,
       [50415992.  ,    10000.  ,    10000.  , ...,     1372.97,     2185.64,        1.12],
       [46154152.  ,    35000.  ,    10000.  , ...,      354.3 ,     3199.4 ,        1.11],
       [66055248.  ,    10000.  ,    10000.  , ...,      309.97,      301.9 ,        1.09]])

In [227]:
loan_data_numeric = np.hstack((loan_data_numeric, exchange_rate))

In [231]:
header_numeric = np.concatenate((header_numeric, np.array(['exchange_rate'])))
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'],
      dtype='<U19')

# From USD to EUR

In [232]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate'],
      dtype='<U19')

In [233]:
columns_dollar = np.array([1,2,4,5])

In [235]:
loan_data_numeric[:,[columns_dollar]]
# the output will be index that we stored before which is index that have value of money currency in dollar

array([[[35000.  , 35000.  ,  1184.86,  9452.96]],

       [[30000.  , 30000.  ,   938.57,  4679.7 ]],

       [[15000.  , 15000.  ,   494.86,  1969.83]],

       ...,

       [[10000.  , 10000.  ,  1372.97,  2185.64]],

       [[35000.  , 10000.  ,   354.3 ,  3199.4 ]],

       [[10000.  , 10000.  ,   309.97,   301.9 ]]])

In [237]:
# to exchange the currency(euro version from the dataset), we need to make loop which any oteration will make new column and horizontaly stacking with the end of the dataset
for i in columns_dollar:
    loan_data_numeric = np.hstack((loan_data_numeric, np.reshape(loan_data_numeric[:,i] / loan_data_numeric[:,6],(10000,1))))

In [238]:
loan_data_numeric

array([[48010224.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693260.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432728.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415992.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154152.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055248.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

# expanding the header

In [239]:
header_additional = np.array([column_name + '_EUR' for column_name in header_numeric[columns_dollar]])

In [240]:
header_additional

array(['loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U15')

In [241]:
header_numeric = np.concatenate((header_numeric, header_additional))

In [242]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt', 'exchange_rate',
       'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'], dtype='<U19')

In [243]:
header_numeric[columns_dollar] = np.array([column_name + '_USD' for column_name in header_numeric[columns_dollar]])

In [244]:
header_numeric

array(['id', 'loan_amnt_USD', 'funded_amnt_USD', 'int_rate', 'installment_USD', 'total_pymnt_USD',
       'exchange_rate', 'loan_amnt_EUR', 'funded_amnt_EUR', 'installment_EUR', 'total_pymnt_EUR'],
      dtype='<U19')

In [245]:
#rearrange columns

In [247]:
columns_index_order = [0,1,7,2,8,3,4,9,5,10,6]

In [248]:
header_numeric[columns_index_order]

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [249]:
header_numeric = header_numeric[columns_index_order]

In [250]:
header_numeric

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
      dtype='<U19')

In [251]:
loan_data_numeric

array([[48010224.  ,    35000.  ,    35000.  , ...,    31933.3 ,     1081.04,     8624.69],
       [57693260.  ,    30000.  ,    30000.  , ...,    27132.46,      848.86,     4232.39],
       [59432728.  ,    15000.  ,    15000.  , ...,    13326.3 ,      439.64,     1750.04],
       ...,
       [50415992.  ,    10000.  ,    10000.  , ...,     8910.3 ,     1223.36,     1947.47],
       [46154152.  ,    35000.  ,    10000.  , ...,     8997.4 ,      318.78,     2878.63],
       [66055248.  ,    10000.  ,    10000.  , ...,     9145.8 ,      283.49,      276.11]])

In [252]:
loan_data_numeric = loan_data_numeric[:, columns_index_order]

In [253]:
loan_data_numeric

array([[48010224.  ,    35000.  ,    31933.3 , ...,     9452.96,     8624.69,        1.1 ],
       [57693260.  ,    30000.  ,    27132.46, ...,     4679.7 ,     4232.39,        1.11],
       [59432728.  ,    15000.  ,    13326.3 , ...,     1969.83,     1750.04,        1.13],
       ...,
       [50415992.  ,    10000.  ,     8910.3 , ...,     2185.64,     1947.47,        1.12],
       [46154152.  ,    35000.  ,    31490.9 , ...,     3199.4 ,     2878.63,        1.11],
       [66055248.  ,    10000.  ,     9145.8 , ...,      301.9 ,      276.11,        1.09]])

# Interest rate

In [254]:
loan_data_numeric[:,5]

array([13.33, 28.99, 28.99, ..., 28.99, 16.55, 28.99])

In [255]:
#this code will make the float between 0 and 1, it considered as best practice
loan_data_numeric[:,5] / 100

array([0.13, 0.29, 0.29, ..., 0.29, 0.17, 0.29])

In [256]:
loan_data_numeric[:,5] = loan_data_numeric[:,5] / 100

# Checkpoint Numeric

In [257]:
checkpoint_numeric = checkpoint('Checkpoint-Numeric', header_numeric, loan_data_numeric)

In [258]:
checkpoint_numeric['header'], checkpoint_numeric['data']

(array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
        'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate'],
       dtype='<U19'),
 array([[48010224.  ,    35000.  ,    31933.3 , ...,     9452.96,     8624.69,        1.1 ],
        [57693260.  ,    30000.  ,    27132.46, ...,     4679.7 ,     4232.39,        1.11],
        [59432728.  ,    15000.  ,    13326.3 , ...,     1969.83,     1750.04,        1.13],
        ...,
        [50415992.  ,    10000.  ,     8910.3 , ...,     2185.64,     1947.47,        1.12],
        [46154152.  ,    35000.  ,    31490.9 , ...,     3199.4 ,     2878.63,        1.11],
        [66055248.  ,    10000.  ,     9145.8 , ...,      301.9 ,      276.11,        1.09]]))

# Finalize the dataset

In [259]:
checkpoint_strings['data'].shape

(10000, 6)

In [260]:
checkpoint_numeric['data'].shape

(10000, 11)

In [261]:
np.hstack((checkpoint_numeric['data'], checkpoint_strings['data']))

array([[48010224.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
       [57693260.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
       [59432728.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
       ...,
       [50415992.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
       [46154152.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
       [66055248.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]])

In [262]:
np.hstack((checkpoint_numeric['data'], checkpoint_strings['data'])).shape

(10000, 17)

In [263]:
loan_data = np.hstack((checkpoint_numeric['data'], checkpoint_strings['data']))

In [264]:
loan_data

array([[48010224.  ,    35000.  ,    31933.3 , ...,       13.  ,        1.  ,        1.  ],
       [57693260.  ,    30000.  ,    27132.46, ...,        5.  ,        1.  ,        4.  ],
       [59432728.  ,    15000.  ,    13326.3 , ...,       10.  ,        1.  ,        4.  ],
       ...,
       [50415992.  ,    10000.  ,     8910.3 , ...,        5.  ,        1.  ,        1.  ],
       [46154152.  ,    35000.  ,    31490.9 , ...,       17.  ,        1.  ,        3.  ],
       [66055248.  ,    10000.  ,     9145.8 , ...,        4.  ,        0.  ,        3.  ]])

In [265]:
np.isnan(loan_data).sum()

0

In [266]:
np.concatenate((checkpoint_numeric['header'], checkpoint_strings['header']))

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate',
       'issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'state_address'], dtype='<U19')

In [267]:
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [268]:
header_full = np.concatenate((checkpoint_numeric['header'], checkpoint_strings['header']))

In [269]:
header_full

array(['id', 'loan_amnt_USD', 'loan_amnt_EUR', 'funded_amnt_USD', 'funded_amnt_EUR', 'int_rate',
       'installment_USD', 'installment_EUR', 'total_pymnt_USD', 'total_pymnt_EUR', 'exchange_rate',
       'issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status',
       'state_address'], dtype='<U19')

# Sorting the new dataset

In [270]:
loan_data = loan_data[np.argsort(loan_data[:,0])]

In [271]:
loan_data

array([[  373332.  ,     9950.  ,     9038.08, ...,       21.  ,        0.  ,        1.  ],
       [  575239.  ,    12000.  ,    10900.2 , ...,       25.  ,        1.  ,        2.  ],
       [  707689.  ,    10000.  ,     8924.3 , ...,       13.  ,        1.  ,        0.  ],
       ...,
       [68614880.  ,     5600.  ,     5121.65, ...,        8.  ,        1.  ,        1.  ],
       [68615912.  ,     4000.  ,     3658.32, ...,       10.  ,        1.  ,        2.  ],
       [68616520.  ,    21600.  ,    19754.93, ...,        3.  ,        0.  ,        2.  ]])

In [273]:
np.argsort(loan_data[:,0])

array([   0,    1,    2, ..., 9997, 9998, 9999], dtype=int64)

# Stack the header with the sorted dataset

In [274]:
np.vstack((header_full, loan_data))

array([['id', 'loan_amnt_USD', 'loan_amnt_EUR', ..., 'sub_grade', 'verification_status',
        'state_address'],
       ['373332.0', '9950.0', '9038.082814338286', ..., '21.0', '0.0', '1.0'],
       ['575239.0', '12000.0', '10900.20037910145', ..., '25.0', '1.0', '2.0'],
       ...,
       ['68614880.0', '5600.0', '5121.647851612413', ..., '8.0', '1.0', '1.0'],
       ['68615912.0', '4000.0', '3658.319894008867', ..., '10.0', '1.0', '2.0'],
       ['68616520.0', '21600.0', '19754.927427647883', ..., '3.0', '0.0', '2.0']], dtype='<U32')

In [275]:
loan_data = np.vstack((header_full, loan_data))

In [277]:
np.savetxt('loan-data-preprocessed.csv',
           loan_data,
           fmt = '%s',
           delimiter = ',')